In [2]:
import seaborn as sb
import pandas as pd

Load the tips dataset , add a new feature 'good table' for 20% tip or more, delete not required columns and create a Naive bayes classifier
<br>create a dummy vars

In [3]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [4]:
df = sb.load_dataset('tips')

In [5]:
df.to_csv("tips.csv",index=False)

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df['diff'] = df['tip']/df['total_bill']

In [8]:
df.query("diff > 0.20").sort_values('diff',ascending=False).head()

     total_bill   tip     sex smoker  day    time  size      diff
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535

In [ ]:
df['good'] = df['diff'] > 0.12

In [ ]:
df.head()

In [ ]:
df['good'].value_counts()

In [ ]:
#df = pd.get_dummies(df,columns=['sex','smoker','day','time'])

In [ ]:
df.head()

In [ ]:
df.drop(['total_bill','tip','diff'],axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df['sex'].replace('Male',0,inplace=True)
df['sex'].replace('Female',1,inplace=True)

In [ ]:
df['smoker'].replace('No',0,inplace=True)
df['smoker'].replace('Yes',1,inplace=True)

In [ ]:
df['day'].replace('Thur',0,inplace=True)
df['day'].replace('Fri',1,inplace=True)
df['day'].replace('Sat',2,inplace=True)
df['day'].replace('Sun',3,inplace=True)

In [ ]:
df['time'].replace('Dinner',0,inplace=True)
df['time'].replace('Lunch',1,inplace=True)

In [ ]:
df.info()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['good'],axis=1), df['good'], test_size=0.33)

In [ ]:
import sklearn.naive_bayes as sknb
import sklearn.linear_model as sklin

In [ ]:
model = sknb.GaussianNB()
#model = sklin.LogisticRegression()

In [ ]:
model.fit(X_train,y_train)

In [ ]:
pred = model.predict(X_test)

In [ ]:
import sklearn.metrics as skm

In [ ]:
skm.confusion_matrix(y_test,pred)