In [2]:
import statsmodels.api as st
import numpy as np
import pandas as pd

In [3]:
# !pip install --upgrade statsmodels

In [5]:
df = pd.read_csv('pupils.csv')

In [6]:
df.head()

,Name,Age,Country,Height,Weight,Avg Grades,income,house rooms,family persons
0,adar,6,SP,113,30,70,16700,7,6
1,agam,6,GR,172,71,92,9200,5,4
2,avi,7,ISR,143,58,82,12000,3,7
3,dani,7,US,160,70,90,15000,4,4
4,dina,7,ISR,110,26,64,10000,6,8

In [7]:
x = df.drop(['Avg Grades','Name','Country'],axis=1)
y = df['Avg Grades']

In [8]:
x.head()

   Age  Height  Weight  income  house rooms  family persons
0    6     113      30   16700            7               6
1    6     172      71    9200            5               4
2    7     143      58   12000            3               7
3    7     160      70   15000            4               4
4    7     110      26   10000            6               8

In [9]:
x1 = st.add_constant(x)
x1.head(2)

   const  Age  Height  Weight  income  house rooms  family persons
0    1.0    6     113      30   16700            7               6
1    1.0    6     172      71    9200            5               4

In [ ]:
# res = st.OLS(y,x1).fit()

In [10]:
model = st.OLS(y,x1)

In [11]:
res = model.fit()

In [12]:
res.params

const             53.448998
Age                0.144180
Height             0.107929
Weight             0.259367
income             0.000014
house rooms        0.060927
family persons    -0.518383
dtype: float64

In [14]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Avg Grades   R-squared:                       0.937
Model:                            OLS   Adj. R-squared:                  0.921
Method:                 Least Squares   F-statistic:                     56.97
Date:                Wed, 23 Feb 2022   Prob (F-statistic):           1.18e-12
Time:                        20:43:16   Log-Likelihood:                -62.769
No. Observations:                  30   AIC:                             139.5
Df Residuals:                      23   BIC:                             149.3
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             53.4490      5.453      9.802      0.000      42.169      64.729
Age                0.1442      0.207      0.697      0.493      -0.284       0.572
Height             0.1079      0.080      1.348      0.191      -0.058       0.273
Weight             0.2594      0.117      2.207      0.038       0.016       0.502
income          1.375e-05   3.86e-05      0.356      0.725   -6.61e-05    9.36e-05
house rooms        0.0609      0.289      0.211      0.835      -0.537       0.659
family persons    -0.5184      0.264     -1.961      0.062      -1.065       0.029
==============================================================================
Omnibus:                        3.481   Durbin-Watson:                   2.881
Prob(Omnibus):                  0.175   Jarque-Bera (JB):                2.449
Skew:                          -0.695   Prob(JB):                        0.294
Kurtosis:                       3.161   Cond. No.                     3.11e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.11e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
res.predict([1,7,120,30,30000,5,6])

array([72.79752713])