In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

Load the file regdataex.csv

In [2]:
df = pd.read_csv("regdataex.csv")

Use head, info and describe

In [3]:
df.head()

    A   B   C   D    E   F    G  H   I  Target
0  20  39  -8  89  103  10  320  C  21    2637
1  46  39   6  45  102  10  109  B  17    4265
2  62  12   3  12  146  26  384  D  16    5906
3  33  45  -1  89  103  36  444  A   7    3326
4  29  28 -72  12  126  23  117  D   2     703

Create a pair plot

Create a Linear Regression model:<br>
* split train and test
* check the results

Try to reduce the dimensionality check the model with:<br>
* ['A', 'B', 'E', 'F', 'G', 'I']
* ['A', 'C', 'D', 'F', 'G', 'I']
* ['A', 'E', 'F', 'G', 'I']
* ['B', 'E', 'F']

Use itertools.combination to find the minimum set of features to get a score > 0.95<br>
hint for using itertools:

In [4]:
import itertools

In [ ]:
l = itertools.combinations([1,2,3],2)
for i in l:
    print(i)