In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('unall.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14950 entries, 0 to 14949
Data columns (total 8 columns):
A    14950 non-null float64
B    14950 non-null float64
C    14950 non-null float64
D    14950 non-null float64
E    14950 non-null float64
F    14950 non-null float64
G    14950 non-null float64
H    14950 non-null float64
dtypes: float64(8)
memory usage: 934.5 KB

In [4]:
from sklearn.cluster import KMeans

In [5]:
kmeans = KMeans(n_clusters=3)

In [6]:
kmeans.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
kmeans.cluster_centers_

array([[-8.31821248,  2.08027592,  4.5800723 , -4.48649629,  3.68890015,
         0.34085028, -9.02460214, -7.25444951],
       [ 4.43786571, -6.18676545,  1.07462692, -2.9622927 , -6.35467402,
         5.71389715,  9.32984445, -5.3703528 ],
       [ 0.33668422,  1.40613324, -9.44534503, -6.58114599,  3.70570442,
         6.69023167, -3.8540745 ,  7.88929041]])

In [17]:
dftest = pd.read_csv('un_test.csv')

In [18]:
dftest.head()

,A,B,C,D,E,F,G,H
0,-8.394198,2.130580,4.550989,-3.985735,3.675691,0.037279,-9.610096,-5.409832
1,4.952155,-6.417093,1.529750,-3.416331,-7.892094,5.861197,10.167782,-5.014432
2,0.712611,2.526579,-8.992137,-6.231673,4.253149,7.303107,-4.525618,7.960269
3,-8.711706,2.744574,4.786655,-4.568053,2.750779,0.306981,-8.467796,-8.006584
4,3.182528,-5.604574,2.234331,-2.845613,-5.954910,4.068180,9.842163,-6.777029

In [19]:
def k_mean_distance(samp,cent):
        s = 0
        for i in range(len(samp)):
            s += ((samp[i]-cent[i])**2)
        return np.sqrt(s)

In [20]:
s = dftest.iloc[2,:].values

In [21]:
print(k_mean_distance(s,kmeans.cluster_centers_[0]))
print(k_mean_distance(s,kmeans.cluster_centers_[1]))
print(k_mean_distance(s,kmeans.cluster_centers_[2]))

23.86473097039978
26.202275961416618
1.6898423213866267

In [22]:
s = dftest.iloc[22,:].values

In [23]:
print(k_mean_distance(s,kmeans.cluster_centers_[0]))
print(k_mean_distance(s,kmeans.cluster_centers_[1]))
print(k_mean_distance(s,kmeans.cluster_centers_[2]))

24.380322267368268
25.186349514810328
22.521743992983073