In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [7]:
d = {'col1': [1 ,np.nan,2], 'col2': [3, 4,2]}
df = pd.DataFrame(data=d)

In [8]:
df

   col1  col2
0   1.0     3
1   NaN     4
2   2.0     2

In [9]:
df.col1.fillna(method='ffill', inplace=True)
df

   col1  col2
0   1.0     3
1   1.0     4
2   2.0     2

In [11]:
df.index = ['1','11','111']

In [12]:
df

     col1  col2
1     1.0     3
11    1.0     4
111   2.0     2

In [14]:
df.index.str.len().values.mean()

2.0