In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [13]:
df = pd.read_csv('pupils-ex.csv')

In [34]:
df

,Name,Age,Country,Height,Weight,avg,income,rooms,family,type,gen,namelen,new_inc,new2
0,adar,6,SP,113.0,30,70,16700,7,6,1,M,4,2,100200
1,agam,6,GR,172.0,71,92,9200,5,4,2,F,4,1,55200
2,avi,7,NaN,143.0,58,82,12000,3,7,1,M,3,2,84000
3,dani,7,US,6.0,70,90,15000,4,4,2,M,4,2,105000
4,dina,7,ISR,110.0,26,64,10000,6,8,1,F,4,2,70000
5,efrat,7,NaN,115.0,33,75,8000,5,5,3,F,5,1,56000
6,ehud,8,ISR,155.0,66,85,18000,2,7,1,M,4,2,144000
7,eli,8,NaN,155.0,61,84,8900,7,10,2,M,3,1,71200
8,ester,8,ISR,8.0,48,79,19600,2,4,1,F,5,2,156800
9,evyatar,8,NaN,110.0,34,72,7600,3,4,1,M,7,1,60800
10,itamar,8,EN,110.0,30,71,27000,2,5,2,M,6,2,216000
11,liel,8,NaN,142.0,55,84,24000,2,7,1,M,4,2,192000
12,lilach,9,ISR,192.0,88,94,23000,5,6,2,F,6,2,207000
13,mia,9,NaN,10.0,49,82,12800,4,5,3,F,3,2,115200
14,michal,9,US,132.0,53,79,20400,5,7,3,F,6,2,183600
15,moshe,9,GR,128.0,43,80,42000,6,5,3,M,5,3,378000
16,noya,9,SP,90.0,27,68,18200,6,5,1,F,4,2,163800
17,ofer,10,NaN,2.0,34,71,9300,4,8,1,M,4,1,93000
18,ohad,10,ISR,159.0,64,83,12700,4,8,1,M,4,2,127000
19,omer,10,US,162.0,68,87,34500,6,8,2,F,4,3,345000
20,orit,44,US,123.0,40,78,18900,3,7,3,F,4,2,831600
21,orit,11,NaN,175.0,73,89,54100,4,3,2,F,4,3,595100
22,rina,11,EN,4.0,31,73,30000,2,5,3,F,4,3,330000
23,shely,11,ISR,148.0,60,86,8000,4,3,1,F,5,1,88000
24,talya,12,FR,167.0,67,89,10900,6,6,2,F,5,2,130800
25,tomer,12,NaN,128.0,53,82,45000,5,4,3,M,5,3,540000
26,udi,13,FR,8.0,55,85,35000,7,6,2,M,3,3,455000
27,yafit,13,FR,180.0,90,93,12800,2,4,1,F,5,2,166400
28,yoav,13,EN,120.0,36,74,17300,5,8,3,M,4,2,224900
29,yosi,14,SP,110.0,32,74,22000,5,6,1,M,4,2,308000

In [4]:
df.Height.fillna(df.Height.mean(),inplace=True)

In [7]:
df.loc[df.Age > 12,'Age'] = 12

In [ ]:
df.loc[df.Height.isnull(),'Height'] = df.Age*12

In [19]:
ls = [2,4,6,8,10]*10
for k,v in df.iterrows():
    if np.isnan(v.Height):
            df.loc[k,'Height'] = ls[v.Age]

In [ ]:
df.drop(df.loc[df.Age <= 8].index,inplace=True)

In [ ]:
df.drop(['type'],axis=1,inplace=True)

In [ ]:
df['gen'].replace({'M':1 , 'F':2},inplace=True)

In [20]:
df['namelen']=df.Name.apply(len)

In [23]:
def myop(inc):
    if inc < 10000:
        return 1
    else:
        if inc < 30000:
            return 2
        else:
            return 3

In [24]:
df['new_inc'] = df.income.apply(myop)

====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====
====

In [31]:
def myop2(r):
    print("=====",r.Age , r.income)
    return r.Age*r.income

In [33]:
df['new2'] = df.apply(myop2,axis=1)

===== 6 16700
===== 6 9200
===== 7 12000
===== 7 15000
===== 7 10000
===== 7 8000
===== 8 18000
===== 8 8900
===== 8 19600
===== 8 7600
===== 8 27000
===== 8 24000
===== 9 23000
===== 9 12800
===== 9 20400
===== 9 42000
===== 9 18200
===== 10 9300
===== 10 12700
===== 10 34500
===== 44 18900
===== 11 54100
===== 11 30000
===== 11 8000
===== 12 10900
===== 12 45000
===== 13 35000
===== 13 12800
===== 13 17300
===== 14 22000

In [36]:
np.digitize(df.Height, [110,130,150,160], right=True)

array([1, 4, 2, 0, 0, 1, 3, 3, 0, 0, 0, 2, 4, 0, 2, 1, 0, 0, 3, 4, 1, 4,
       0, 2, 4, 1, 0, 4, 1, 0])

In [37]:
pd.get_dummies(df.type).head()

   1  2  3
0  1  0  0
1  0  1  0
2  1  0  0
3  0  1  0
4  1  0  0

In [38]:
pd.cut(df.Height,bins=3,labels=['S','M','L'])

0     M
1     L
2     L
3     S
4     M
5     M
6     L
7     L
8     S
9     M
10    M
11    L
12    L
13    S
14    L
15    M
16    M
17    S
18    L
19    L
20    M
21    L
22    S
23    L
24    L
25    M
26    S
27    L
28    M
29    M
Name: Height, dtype: category
Categories (3, object): [S < M < L]

In [ ]:
pd.qcut(df.Height,q=[0,0.1,0.8,1],labels=['S','M','L'])