In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dfcor.csv",index_col='User')

In [3]:
df

      m1  m2  m3  m4  m5
User
100    1   1   1   5   5
101    1   1   5   1   1
102    2   1   1   4   5
103    5   5   4   2   1
104    3   3   3   3   3

In [4]:
m1 = df['m1']
m3 = df['m3']

In [5]:
df.corrwith(m1)

m1    1.000000
m2    0.968822
m3    0.283965
m4   -0.283473
m5   -0.448211
dtype: float64

In [31]:
df.corrwith(m3)

m1    0.283965
m2    0.406250
m3    1.000000
m4   -0.972272
m5   -0.978280
dtype: float64